HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
exoplanet-explorer/.ai/mcp/mcp.json
exoplanet-explorer/src/.DS_Store
exoplanet-explorer/src/.DS_Store
exoplanet-explorer/src/main/.DS_Store
exoplanet-explorer/src/main/java/.DS_Store
exoplanet-explorer/src/main/java/com/.DS_Store
exoplanet-explorer/src/main/java/com/nasa/.DS_Store
exoplanet-explorer/src/main/java/com/nasa/exoplanet_explorer/.DS_Store
exoplanet-explorer/src/.DS_Store
exoplanet-explorer/src/main/.DS_Store
exoplanet-explorer/src/main/java/.DS_Store
exoplanet-explorer/src/main/java/com/.DS_Store
exoplanet-explorer/src/main/java/com/nasa/.DS_Store
exoplanet-explorer/src/main/java/com/nasa/exoplanet_explorer/.DS_Store
